html {
    background-color: rgb(203, 250, 164);
}

#page_header {
    color: rgb(133, 86, 177);
    text-align: center;
}

.container {

    display: grid;
    /*I trialed flexbox and grid layouts; and found that it was easier for me to work with grids because the layout is arranged into equal spaces.*/
    grid-template-columns: repeat(18, [group] minmax(8em, 1fr));
    /*This creates 18 columns*/
    grid-template-rows: repeat(7, [period] 1fr) [row6x] 1fr [row7x] 1fr;
    /*This code allows the layout to have 7 rows*/
    grid-gap: 0.5em;
}

/*I refrenced the CSS for this task from geeksforgeeks.org because it allowed me to undestand the placement of elements better on the web page. */
/*It broke down the code well enough for me to understand what each line represents and how to align elements for an approximately accurate layout of the periodic table.*/
/*https://www.geeksforgeeks.org/web-templates/periodic-table-design-using-html-and-css/*/

.element {
    display: block;
    text-align: center;
    border: solid 1px black;
    /*padding: 2vh 2vw;*/
    margin-bottom: 0.35em;
}

.atomic_number {
    font-size: 0.75em;
}

.symbol {
    font-weight: bold;
    font-size: 1.2em;
}

.non-metal {
    background-color: blue;
}

.n-gas {
    background-color: blueviolet;
}

.al-metal {
    background-color: aqua;
}

.alearth-metal {
    background-color: aquamarine;
}

.metalloid {
    background-color: antiquewhite;
}

.patomic-nonmetal {
    background-color: beige;
}

.pTransition-metal {
    background-color: red;
}

.lan-group {
    background-color: rgba(90, 90, 160, 0.603);
}

.act-group {
    background-color: rgba(102, 63, 139, 0.603);
}

.trans {
    background-color: orange;
}

.element-57,
.element-89 {
    position: relative;
}

/*element=57 is the first of the lan-group, and is used as the first element in the 6th row, element-89 in the 7th row.*/

.element-5,
.element-13 {
    grid-column: 4;
}

.element-72,
.element-104 {
    grid-column: 4;
}

.lan-group {
    grid-row: row6x;
    position: relative;
    top: 1em;
}

.act-group {
    grid-row: row7x;
    position: relative;
    top: 1em;
}

.n-gas {
    grid-column: 18;
}

img {
    display: none;
}

/*The image is not displayed when opening the web page on a screen size larger than 900px*/

@media (max-width:900px) {
    .container {
        display: none;
    }

    img {
        display: block;
        height: 400px;
        width: auto;

    }

    html {
        background-color: aqua;
        margin: auto;

    }

    * {
        align-items: center;
        width: 80%;
    }
}

/*@media used to display only the image when the screen size is less than or equals to 900px*/